@import "tailwindcss";


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 65s linear infinite;
}

html, body {
  overflow-x: hidden;
}
